In [20]:
import pandas as pd
import psycopg2


sqluser = 'postgres'
dbname = 'mimic'
schema_name = 'mimiciii'
con = psycopg2.connect(dbname=dbname, user=sqluser)
cur = con.cursor()

q_admissions = "SELECT" \
        " a.subject_id, a.hadm_id, a.ethnicity, a.insurance, p.gender" \
        ", ROUND( (cast(a.admittime as date) - cast(p.dob as date)) / 365.242)" \
        " AS age_on_admiss" \
        ", cast(a.dischtime as date) - cast(a.admittime as date)" \
        " AS length_of_stay" \
        " FROM mimiciii.admissions a" \
        " INNER JOIN mimiciii.patients p" \
        " ON p.subject_id = a.subject_id" \
        " GROUP BY" \
        " a.subject_id, a.hadm_id, a.ethnicity, a.insurance, p.gender, a.admittime, p.dob, a.dischtime" \
        " ORDER BY a.subject_id;"

cur.execute('SET search_path to ' + schema_name)
df_admissions = pd.read_sql_query(q_admissions, con)

q_systolic_bp = "SELECT * " \
                    " FROM mimiciii.d_items" \
                    " WHERE lower(label) LIKE '%systolic%'"

cur.execute('SET search_path to ' + schema_name)
df_systolic_bp = pd.read_sql_query(q_systolic_bp, con)

q_heart_rate = "SELECT *" \
               " FROM mimiciii.d_items" \
               " WHERE lower(label) LIKE '%heart%rate%'" \
               " OR lower(label) LIKE 'hr%'"
            
cur.execute('SET search_path to ' + schema_name)
df_heart_rate = pd.read_sql_query(q_heart_rate, con)

q_resp_rate = "SELECT * " \
                     "FROM mimiciii.d_items " \
                     "WHERE lower(label) LIKE '%resp%rate%' " \
                     "OR lower(label) LIKE '%rr' " \
                     "OR lower(label) LIKE 'rr%'"

cur.execute('SET search_path to ' + schema_name)
df_resp_rate = pd.read_sql_query(q_resp_rate, con)

q_temp = "SELECT * " \
         "FROM mimiciii.d_items " \
         "WHERE lower(label) LIKE 'temperature%' " \
         "OR label LIKE 'Temp %'"

cur.execute('SET search_path to ' + schema_name)
df_temp = pd.read_sql_query(q_temp, con)

q_o2_sat = "SELECT *" \
           "FROM mimiciii.d_items " \
           "WHERE label LIKE 'SaO2' " \
           "OR label LIKE 'SpO2' " \
           "OR label LIKE 'O2 sat%' " \
           "OR lower(label) LIKE '%o%saturation'"

cur.execute('SET search_path to ' + schema_name)
df_o2_sat = pd.read_sql_query(q_o2_sat, con)

In [22]:
df_o2_sat.head(5)

,row_id,itemid,label,abbreviation,dbsource,linksto,category,unitname,param_type,conceptid
0,1126,834,SaO2,None,carevue,chartevents,ABG's,None,None,None
1,2165,5501,O2 sat probe change,None,carevue,chartevents,None,None,None,None
2,2168,5505,O2 sat probe site,None,carevue,chartevents,None,None,None,None
3,599,646,SpO2,None,carevue,chartevents,None,None,None,None
4,910,3288,O2 sat [Pre],None,carevue,chartevents,None,None,None,None